<div *ngIf="hero" xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" type="text/css" href="hero-detail.component.css">
  <h2>{{hero.name | uppercase}} Details with hero detail</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">

  </div>
  <div class="container">
    <div class="box">

      <h3>Statitisque of hero PC : {{getPointDeCompetence()}} </h3>  <label *ngIf="weapon">weapons equiped : {{weapon!.name}} </label>
      <div id="divAttaque">
        <label for="hero-attaque">Hero attaque: </label>
        <mat-slider min="1" max="30" step="1" discrete [displayWith]="formatLabel">
          <input id="hero-attaque" value="1" [(ngModel)]="attaque" matSliderThumb>
        </mat-slider><label > {{attaque}} + {{weapon?.attaque}}  </label>  <label *ngIf="weapon" >= {{attaque + weapon!.attaque}}</label>
      </div>
      <div id="divEsquive">
        <label for="hero-esquive">Hero esquive: </label>
        <mat-slider min="1" max="30" step="1" discrete [displayWith]="formatLabel">
          <input id="hero-esquive" value="1" [(ngModel)]="esquive" matSliderThumb>
        </mat-slider><label > {{esquive}} + {{weapon?.esquive}}  </label> <label *ngIf="weapon" >= {{esquive + weapon!.esquive}}</label>
      </div>
      <div id="divDegat">
        <label for="hero-degats">Hero degats: </label>
        <mat-slider min="1" max="30" step="1" discrete [displayWith]="formatLabel">
          <input id="hero-degats" value="1" [(ngModel)]="degats" matSliderThumb>
        </mat-slider> <label > {{degats}} + {{weapon?.degats}} </label> <label *ngIf="weapon" >= {{degats + weapon!.degats}}</label>
      </div>
      <div id="divId">
        <label for="hero-pv">Hero pv: </label>
        <mat-slider min="1" max="30" step="1" discrete [displayWith]="formatLabel">
          <input id="hero-pv" value="1" [(ngModel)]="pv" matSliderThumb>
        </mat-slider> <label > {{pv}} + {{weapon?.PV}}   </label> <label *ngIf="weapon"  >= {{pv + weapon!.PV}}</label>
      </div>
      <label *ngIf="checkStatIsNotOk()" class="error">You have used more than 40 skill points or one skill and less than 1</label> <br>

    </div>
    <div class="box"><h2>Equipement</h2>
      <label *ngIf="weapon == undefined"> no weapons </label>
      <br>
      <select id="weapons" name="weapons" (change)="onChange($event)" [value]="">
        <option></option>
        <option *ngFor="let weapon of weapons"  value="{{weapon.id}}" >{{weapon.name}}</option>
      </select>
      <br>
      <label *ngIf="selectedWeapon" > attaque {{selectedWeapon.attaque}}</label> <br>
      <label *ngIf="selectedWeapon" > esquive {{selectedWeapon.esquive}}</label> <br>
      <label *ngIf="selectedWeapon" > degats {{selectedWeapon.degats}}</label> <br>
      <label *ngIf="selectedWeapon" > pv {{selectedWeapon.PV}}</label> <br>
      <button (click)="equipedWeapon()"[disabled]="!canBeEquipedWeapon()">Ajouter Arme</button>
    </div>
  </div>

    <button id="save" type="button" (click)="save()" [disabled]="checkStatIsNotOk()">save</button>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="delete()">delete</button>

</div >
