<div *ngIf="hero">
  <link rel="stylesheet" type="text/css" href="hero-detail.component.css">
  <h2>{{hero.name | uppercase}} Details with hero detail</h2>
  <div><span>id: </span>{{hero.id}}</div>
  <div>
    <label for="hero-name">Hero name: </label>
    <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">

  </div>
  <div class="container">
    <div class="box">

      <h3>Statitisque of hero PC : {{getPointDeCompetence()}} </h3>
      <div id="divAttaque">
        <label for="hero-attaque">Hero attaque: </label>
        <mat-slider min="1" max="30" step="1" discrete [displayWith]="formatLabel">
          <input id="hero-attaque" value="1" [(ngModel)]="attaque" matSliderThumb>
        </mat-slider><label > {{attaque}}</label>
      </div>
      <div id="divEsquive">
        <label for="hero-esquive">Hero esquive: </label>
        <mat-slider min="1" max="30" step="1" discrete [displayWith]="formatLabel">
          <input id="hero-esquive" value="1" [(ngModel)]="esquive" matSliderThumb>
        </mat-slider><label > {{esquive}}</label>
      </div>
      <div id="divDegat">
        <label for="hero-degats">Hero degats: </label>
        <mat-slider min="1" max="30" step="1" discrete [displayWith]="formatLabel">
          <input id="hero-degats" value="1" [(ngModel)]="degats" matSliderThumb>
        </mat-slider> <label > {{degats}}</label>
      </div>
      <div id="divId">
        <label for="hero-pv">Hero pv: </label>
        <mat-slider min="1" max="30" step="1" discrete [displayWith]="formatLabel">
          <input id="hero-pv" value="1" [(ngModel)]="pv" matSliderThumb>
        </mat-slider> <label > {{pv}}</label>
      </div>
      <label *ngIf="checkStatIsNotOk()" class="error">Vous avez utilisé plus de 40 points de compétences </label> <br>

    </div>
    <div class="box"><h2>Equipement</h2>


    </div>
  </div>

    <button id="save" type="button" (click)="save()" [disabled]="checkStatIsNotOk()">save</button>
    <button type="button" (click)="goBack()">go back</button>
    <button type="button" (click)="delete()">delete</button>

</div >
