<form [formGroup]="weaponForm" (ngSubmit)="save()">
    <label for="weapon-name">Weapon name:</label>
    <input type="text" id="weapon-name" formControlName="name" placeholder="name">
  <div id="divAttaque">
      <label for="weapon-attaque">Weapon attaque: </label>
      <mat-slider min="-5" max="5" step="1" discrete [displayWith]="formatLabel">
        <input id="weapon-attaque" formControlName="attaque" matSliderThumb>
      </mat-slider>
    </div>
    <div id="divEsquive">
      <label for="weapon-esquive">Weapon esquive: </label>
      <mat-slider min="-5" max="5" step="1" discrete [displayWith]="formatLabel">
        <input id="weapon-esquive" formControlName="esquive" matSliderThumb>
      </mat-slider>
    </div>
    <div id="divDegat">
      <label for="weapon-degats">Weapon degats: </label>
      <mat-slider min="-5" max="5" step="1" discrete [displayWith]="formatLabel">
        <input id="weapon-degats" formControlName="degats" matSliderThumb>
      </mat-slider>
    </div>
    <div id="divId">
      <label for="weapon-pv">Weapon pv: </label>
      <mat-slider min="-5" max="5" step="1" discrete [displayWith]="formatLabel">
        <input id="weapon-pv" formControlName="pv" matSliderThumb>
      </mat-slider>
      <!-- Utilisez des contrôles du formulaire réaz"ctif pour les autres champs -->
    </div>
  <div *ngIf="weaponForm.hasError('statsNotOK')">
    Les statistiques ne sont pas valides. La somme des attaques, esquives, dégâts et PV doit être égale à zéro.
  </div>
      <button id="save" type="submit" [disabled]="!weaponForm.valid">Save</button>
      <button type="button" (click)="goBack()">Go back</button>
      <button type="button" (click)="delete()">Delete</button>
</form>
